<h1>Hello there, <%= @user.username %></h1>

<p>
  Welcome to ShutterUp!
</p>
<p>
  We are glad to have you join our gallery family!
</p>
<p>
  We hope that you find all of your photo storing needs at our site!
</p>
<p>
  In case you forgot our link, here it is again: <%= link_to "Our site", root_url %>.
</p>
<p>
  We hope you have a wonderful day. 
</p>
